In [2]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('./example.txt', sep=',')
df

In [ ]:
df.to_csv('./example.csv', sep=',', decimal=',')

In [ ]:
df = pd.read_csv('./example_excel.xlsx', sheetname='sheet1')
df

In [ ]:
# salvar
df.to_excel('./example.xlsx', sheet_name='sheet1')

In [3]:
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
type(df)

list

In [4]:
len(df)

1

In [7]:
df[0]
# or
df[0]['Bank Name']

0                      Almena State Bank
1             First City Bank of Florida
2                   The First State Bank
3                     Ericson State Bank
4       City National Bank of New Jersey
                     ...
558                   Superior Bank, FSB
559                  Malta National Bank
560      First Alliance Bank & Trust Co.
561    National State Bank of Metropolis
562                     Bank of Honolulu
Name: Bank Name, Length: 563, dtype: object